

-animation()
    animation arguments
    -webkit-animation arguments
    -moz-animation arguments
    -o-animation arguments

-transform()
    transform arguments
    -webkit-transform arguments
    -moz-transform arguments
    -o-transform arguments

@import "main.css"
